.DS_Store

todo-api/node_modules
todo-api/dist
todo-api/coverage
todo-api/data
todo-api/!src/data
todo-api/!tests/data
todo-api/.vscode
todo-api/globalConfig.json
todo-api/.DS_Store


todo-client/node_modules
todo-client/.pnp
todo-client/.pnp.js
todo-client/coverage
todo-client/build
todo-client/.DS_Store
todo-client/.env.local
todo-client/.env.development.local
todo-client/.env.test.local
todo-client/.env.production.local
todo-client/npm-debug.log*
todo-client/yarn-debug.log*
todo-client/yarn-error.log*
